// Quiz classes
.disabled {
  -webkit-filter: grayscale(.5) blur(3px);
  filter: grayscale(.5) blur(3px);
}

.incorrect {
  -webkit-filter: blur(0px) sepia() saturate(1000%) hue-rotate(310deg);
  filter: blur(0px) sepia() saturate(1000%) hue-rotate(310deg);
}

.correct {
  -webkit-filter: blur(0px) sepia() saturate(1000%) hue-rotate(100deg);
  filter: blur(0px) sepia() saturate(1000%) hue-rotate(100deg);
}

.quiz-quotations li {
  list-style-position: inside;
}

.quiz-quotations img {
  max-width: 40%;
}

// Quiz index classes
.quiz-index {
  margin: auto;
  max-width: 80%;
}

.quiz-index li {
  display: inline;
}
