@charset "utf-8";
@import "normalize";

body {
  // background: #ECC561;
  background: #EEEEDD;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 20px;
  // background-image: image-url('elephant.png');
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

// Custom

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.left-runner, .right-runner {
  background-image: image-url('elephant.png');
  background-repeat: repeat-y;
  position: absolute;
  top: 0px;
  width: 100px;
  height: 100%;
  z-index: -1;
}

.left-runner {
  left: 0;
}

.right-runner {
  right: 0;
}

.clicky {
  position: absolute;
  top: 125px;
  left: 4px;
  z-index: -1000;
}

img.trump {
  max-width: 80%;
  margin-top: 20px;
}

// The menu
.header {
  margin-bottom: 10px;
}

.header li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.header li a:before {
  content: '«'
}

.header li a:after {
  content: '»'
}

// Nicer links
a {
  text-decoration: none;
}

a:link, a:visited {
  color: #00f;
}

a:hover, a:active {
  color: #f00;
}

// Hidden classes
.hidden {
  display: none;
}
